<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/styles.css">
    
    <title> Bienvenidos a Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <div class="encabezado-top">
                <div class="logo">
                    <a href="/">
                        <img src='images/logo-mercado-liebre.svg'>
                    </a>
                </div>                
                <div class="barraBusqueda">
                    <form  name="buscador" action="#" method="GET">
                        <div>
                            <input type="search" name="" id="" placeholder="Buscar productos, marcas y mas">
                            <button type="submit"><i class="fa fa-search"></i> </button>                        
                        </div>
                    </form>                    
                </div>
            </div>
            <div class="manito-pesos">
                <p><i class="fas fa-hand-holding-usd"></i>  Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        
        <nav class="menu-header">
            <ul class="ul-izq">
                <li><a href="#">Ofertas<a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="ul-der">
                <li><a href="/register">Creá tu cuenta  <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá  <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
                <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <div class="banner-home">
            <img src='/images/img-home-banner.jpg'>
        </div>   
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <div class="productos">
                <article>
                    <div class="fotoProducto">
                        <img src='/images/img-cafetera-moulinex.jpg'>
                    </div>
                    <div class="descripcionProducto">
                        <div class="camioncito">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="flex-container">
                            <h4 class="precio-producto">$6.770</h4>
                            <h5 class="descuento-producto">40% off</h5>
                        </div>
                        <h3 class="titulo-producto">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src='/images/img-macbook-pro-2019.jpg'>
                    </div>
                    <div class="descripcionProducto">
                        <div class="camioncito">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="flex-container">
                            <h4 class="precio-producto">$230.000</h4>
                            <h5 class="descuento-producto">20% off</h5>
                        </div>                        
                        <h3 class="titulo-producto">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src='/images/img-samsung-galaxy-s10.jpg'>
                    </div>
                    <div class="descripcionProducto">
                        <div class="camioncito">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="flex-container">
                            <h4 class="precio-producto">$70.500</h4>
                            <h5 class="descuento-producto">10% off</h5>                        
                        </div>                        
                        <h3 class="titulo-producto">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src='/images/img-tv-samsung-smart.jpg'>
                    </div>
                    <div class="descripcionProducto">
                        <div class="camioncito">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="flex-container">
                            <h4 class="precio-producto">$23.200</h4>
                            <h5 class="descuento-producto">5% off</h5>                        
                        </div>                        
                        <h3 class="titulo-producto">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>
    
        <section>
            <h2 class="titulares">Ofertas</h2>
            <div class="productos">
                <article>
                    <div class="fotoProducto">
                        <img src='/images/img-cafetera-moulinex.jpg'>
                    </div>
                    <div class="descripcionProducto">
                        <div class="camioncito">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="flex-container">
                            <h4 class="precio-producto">$6.770</h4>
                            <h5 class="descuento-producto">40% off</h5>                        
                        </div>                        
                        <h3 class="titulo-producto">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src='/images/img-macbook-pro-2019.jpg'>
                    </div>
                    <div class="descripcionProducto">
                        <div class="camioncito">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="flex-container">
                            <h4 class="precio-producto">$230.000</h4>
                            <h5 class="descuento-producto">20% off</h5>                        
                        </div>                        
                        <h3 class="titulo-producto">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src='/images/img-samsung-galaxy-s10.jpg'>
                    </div>
                    <div class="descripcionProducto">
                        <div class="camioncito">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="flex-container">
                            <h4 class="precio-producto">$70.500</h4>
                            <h5 class="descuento-producto">10% off</h5>                        
                        </div>                        
                        <h3 class="titulo-producto">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src='/images/img-tv-samsung-smart.jpg'>
                    </div>
                    <div class="descripcionProducto">
                        <div class="camioncito">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="flex-container">
                            <h4 class="precio-producto">$23.200</h4>
                            <h5 class="descuento-producto">5% off</h5>                        
                        </div>                        
                        <h3 class="titulo-producto">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>
    </main>


    <footer>
        <section>
            <div class="footer-flex">
                <div>
                    <i class="fas fa-credit-card"></i>
                    <p class="footer-p1">Pagá con tarjeta o en efectivo</p>
                    <p class="footer-p2">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div>
                    <i class="fas fa-gift"></i>
                    <p class="footer-p1">Envío gratis desde $ 2.500</p>
                    <p class="footer-p2">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div>
                    <i class="fas fa-user-shield"></i>
                    <p class="footer-p1">Seguridad, de principio a fin</p>
                    <p class="footer-p2">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
            </div>
        </section>
        <div class="copyright-liebre">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>
</body>
</html>